<div data-type="grid-layout" class="react-grid-item ltr  undefined  cd-padding   " id="Div2Ekx" data-clientid="Div2Ekx" data-displayname="container" style="display: flex; margin: 0px auto; height: auto; width: 100%; max-width: 1980px; position: relative;">
    <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="DivJgPn" data-clientid="DivJgPn" data-displayname="div" style="display: flex; margin-top: 0px; margin-left: 0px; height: auto; width: 100%; max-width: 1200px; margin-bottom: 0px; position: relative;">
       <span id="Span71ui" data-clientid="Span71ui" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative; max-width: 1000px;">
          <p>Join the ranks of businesses transformed with Codeylabs </p>
          
       </span>
       
    </div>
    <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="Div8oAt" data-clientid="Div8oAt" data-displayname="div" style="display: flex; margin-top: 0px; margin-left: 0px; height: auto; width: 100%; max-width: 1200px; margin-bottom: 0px; position: relative;">
       <button id="Button8Ql6" data-clientid="Button8Ql6" data-displayname="Button" class="react-grid-item ltr  false   " style="display: block; z-index: 1; margin: 0px; width: fit-content; height: fit-content; position: relative; min-height: 64px;">
          <a rel="noreferrer" href="meetceo.html" class="anchor-tag-reset cd-padding" target="_parent" style="text-decoration: none;">
             <p>Book a Session </p>
             
          </a>
       </button>
       
    </div>
    
 </div>
 <div data-type="grid-layout" class="react-grid-item ltr  undefined  cd-padding   " id="DivemZ2" data-clientid="DivemZ2" data-displayname="footer" style="display: flex; margin: 0px auto; height: auto; width: 100%; max-width: 1980px; position: relative;">
    <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="DivnAw0" data-clientid="DivnAw0" data-displayname="container" style="display: flex; margin-top: 0px; margin-left: 0px; height: auto; width: 100%; max-width: 1200px; margin-bottom: 0px; position: relative;">
       <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="DivwUYl" data-clientid="DivwUYl" data-displayname="div" style="display: flex; margin-top: 0px; margin-left: 0px; height: auto; width: 100%; max-width: 400px; margin-bottom: 0px; position: relative;">
          <span id="Spannqcz" data-clientid="Spannqcz" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative;">
             <p>Codeylabs </p>
             
          </span>
          <span id="SpanAkyg" data-clientid="SpanAkyg" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative; max-width: 275px;">
             <p>Codeylabs is committed to customer success, providing unparalleled support on your journey towards digital transformation. </p>
             
          </span>
          
       </div>
       <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="Div958E" data-clientid="Div958E" data-displayname="div" style="display: flex; margin-top: 0px; margin-left: 0px; height: auto; width: fit-content; max-width: 200px; margin-bottom: 0px; position: relative;">
          <!--span id="SpanLr2C" data-clientid="SpanLr2C" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative; max-width: 275px;">
            <a rel="noreferrer" href="careers.html" class="anchor-tag-reset cd-padding" target="_parent" style="text-decoration: none;">
               <p>{{ site.careers }} </p>
            </a> 
             
          </span-->
          <span id="SpandRUn" data-clientid="SpandRUn" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative; max-width: 275px;">
            <a rel="noreferrer" href="partners.html" class="anchor-tag-reset cd-padding" target="_parent" style="text-decoration: none;">
               <p>{{ site.partners }} </p>
            </a>
             
          </span>
          <span id="SpanwpZ9" data-clientid="SpanwpZ9" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative; max-width: 275px;">
            <a rel="noreferrer" href="support.html" class="anchor-tag-reset cd-padding" target="_parent" style="text-decoration: none;">
                <p>{{ site.support }} </p>
            </a>
             
          </span>
          
       </div>
       <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="Divqoab" data-clientid="Divqoab" data-displayname="div" style="display: flex; margin-top: 0px; margin-left: 0px; height: auto; width: fit-content; max-width: 200px; margin-bottom: 0px; position: relative;">
          <span id="SpaniYjd" data-clientid="SpaniYjd" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative; max-width: 275px;">
            <a rel="noreferrer" href="meetceo.html" class="anchor-tag-reset cd-padding" target="_parent" style="text-decoration: none;">
                <p>{{ site.meetceo }} </p>
            </a>
             
          </span>
          <span id="SpanTuKA" data-clientid="SpanTuKA" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative; max-width: 275px;">
            <a rel="noreferrer" href="community.html" class="anchor-tag-reset cd-padding" target="_parent" style="text-decoration: none;">
                <p>{{ site.community }} </p>
            </a>
             
          </span>
          
          
       </div>
       
    </div>
    <span id="SpanklGI" data-clientid="SpanklGI" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative;text-align:center;">
       <p>{{ site.copyright }}&nbsp;&nbsp; <a rel="noreferrer" href="privacypolicy.html" target="_parent" style="text-decoration: none;">Privacy Policy.</a>&nbsp;&nbsp; <a rel="noreferrer" href="terms.html" target="_parent" style="text-decoration: none;">Terms of Service.</a> </p>
       <br/>
       <span>6/318, SFS, Agarwal Farm Mansarovar, Jaipur, Rajasthan, INDIA - 302020 . <a href="mailto:codeylabs@gmail.com" style="text-decoration:underline;">codeylabs@gmail.com</a> . +91-982-847-6820</span>
       
    </span>
    
 </div>