<div data-type="grid-layout" class="react-grid-item ltr  undefined  cd-padding   " id="Div2Ekx" data-clientid="Div2Ekx" data-displayname="container">
    <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="DivJgPn" data-clientid="DivJgPn" data-displayname="div">
       <span id="Span71ui" data-clientid="Span71ui" data-displayname="Text" class="react-grid-item ltr  false  footer-hero-container">
          <p>Transform Your Business with Codeylabs Solutions </p>
       </span>
    </div>
    <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="Div8oAt" data-clientid="Div8oAt" data-displayname="div">
       <button id="Button8Ql6" data-clientid="Button8Ql6" data-displayname="Button" class="react-grid-item ltr  false   ">
          <a rel="noreferrer" href="meetceo.html" class="anchor-tag-reset cd-padding" target="_parent">
             <p>Book a Session </p>
          </a>
       </button>
    </div>
 </div>
 <div data-type="grid-layout" class="react-grid-item ltr  undefined  cd-padding   " id="DivemZ2" data-clientid="DivemZ2" data-displayname="footer">
    <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="DivnAw0" data-clientid="DivnAw0" data-displayname="container">
       <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="DivwUYl" data-clientid="DivwUYl" data-displayname="div">
          <span id="Spannqcz" data-clientid="Spannqcz" data-displayname="Text" class="react-grid-item ltr  false   ">
             <p>Codeylabs </p>
          </span>
          <span id="SpanAkyg" data-clientid="SpanAkyg" data-displayname="Text" class="react-grid-item ltr  false   ">
             <p>Codeylabs is committed to customer success, providing unparalleled support on your journey towards digital transformation. <br/>
            <a href="https://www.youtube.com/@CodeyLabs" class="fa fa-youtube"></a>
            <a href="https://www.linkedin.com/company/codeylabs" class="fa fa-linkedin"></a>
            <a href="https://www.facebook.com/people/CodeyLabs/61562873082629/" class="fa fa-facebook"></a>
            </p>
          </span>
       </div>
       <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="Div958E" data-clientid="Div958E" data-displayname="div">
          <span id="SpandRUn" data-clientid="SpandRUn" data-displayname="Text" class="react-grid-item ltr  false   ">
            <a rel="noreferrer" href="partners.html" class="anchor-tag-reset cd-padding" target="_parent">
               <p>{{ site.partners }} </p>
            </a>
          </span>
          <span id="SpanwpZ9" data-clientid="SpanwpZ9" data-displayname="Text" class="react-grid-item ltr  false   ">
            <a rel="noreferrer" href="support.html" class="anchor-tag-reset cd-padding" target="_parent">
                <p>{{ site.support }} </p>
            </a>
          </span>
       </div>
       <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="Divqoab" data-clientid="Divqoab" data-displayname="div">
          <span id="SpaniYjd" data-clientid="SpaniYjd" data-displayname="Text" class="react-grid-item ltr  false   ">
            <a rel="noreferrer" href="meetceo.html" class="anchor-tag-reset cd-padding" target="_parent">
                <p>{{ site.meetceo }} </p>
            </a>
          </span>
          <span id="SpanTuKA" data-clientid="SpanTuKA" data-displayname="Text" class="react-grid-item ltr  false   ">
            <a rel="noreferrer" href="community.html" class="anchor-tag-reset cd-padding" target="_parent">
                <p>{{ site.community }} </p>
            </a>
          </span>
       </div>
    </div>
    <span id="SpanklGI" data-clientid="SpanklGI" data-displayname="Text" class="react-grid-item ltr  false   ">
       <p>{{ site.copyright }}&nbsp;&nbsp; <a rel="noreferrer" href="privacypolicy.html" target="_parent">Privacy Policy.</a>&nbsp;&nbsp; <a rel="noreferrer" href="terms.html" target="_parent">Terms of Service.</a> </p>
       <br/>
       <span>6/318, SFS, Agarwal Farm Mansarovar, Jaipur, Rajasthan, INDIA - 302020 . <a href="mailto:info@codeylabs.com">info@codeylabs.com</a> . +91-982-847-6820</span>
    </span>
 </div>