<div data-type="grid-layout" class="react-grid-item ltr  undefined  cd-padding   " id="Div2Ekx" data-clientid="Div2Ekx" data-displayname="container" style="display: flex; margin: 0px auto; height: auto; width: 100%; max-width: 1980px; position: relative;">
    <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="DivJgPn" data-clientid="DivJgPn" data-displayname="div" style="display: flex; margin-top: 0px; margin-left: 0px; height: auto; width: 100%; max-width: 1200px; margin-bottom: 0px; position: relative;">
       <span id="Span71ui" data-clientid="Span71ui" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative; max-width: 1000px;">
          <p>Join the ranks of businesses transformed with Codeylabs </p>
          <style id="style-section-DivJgPn-Span71ui">[data-clientId="Span71ui"]{font-family:Raleway;font-size:80px;font-weight:700;color:#000;letter-spacing:0px;line-height:90px;padding:0px 0px 20px 0px;text-align:center;opacity:100%;}</style>
       </span>
       <style id="style-section-Div2Ekx-DivJgPn">[data-clientId="DivJgPn"]{padding:0px 0px 0px 0px;flex-direction:column;justify-content:space-between;column-gap:100px;row-gap:0px;align-items:center;}</style>
    </div>
    <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="Div8oAt" data-clientid="Div8oAt" data-displayname="div" style="display: flex; margin-top: 0px; margin-left: 0px; height: auto; width: 100%; max-width: 1200px; margin-bottom: 0px; position: relative;">
       <button id="Button8Ql6" data-clientid="Button8Ql6" data-displayname="Button" class="react-grid-item ltr  false   " style="display: block; z-index: 1; margin: 0px; width: fit-content; height: fit-content; position: relative; min-height: 64px;">
          <a rel="noreferrer" href="page-preview/codeylabs-salesforce-solutions6ccf5ekilb/home#contact" class="anchor-tag-reset cd-padding" target="_parent" style="text-decoration: none;">
             <p>Book a Demo </p>
             <style id="style-section-Div8oAt-Button8Ql6">[data-clientId="Button8Ql6"]{padding:10px 42px 10px 42px;background-color:#000000ff;border-radius:100px 100px 100px 100px ;border-width:0px 0px 0px 0px ;border-style:groove groove groove groove ;border-color:#333 #333 #333 #333 ;font-family:Raleway;font-size:16px;font-weight:600;color:#FFCE31;line-height:26px;}</style>
          </a>
       </button>
       <style id="style-section-Div2Ekx-Div8oAt">[data-clientId="Div8oAt"]{padding:30px 0px 0px 0px;flex-direction:row;justify-content:center;column-gap:30px;row-gap:0px;}</style>
    </div>
    <style id="style-Div2Ekx">[data-clientId="Div2Ekx"]{padding:100px 16px 100px 16px;flex-direction:column;align-items:center;column-gap:0px;row-gap:0px;background-color:#FFCE31;}</style>
 </div>
 <div data-type="grid-layout" class="react-grid-item ltr  undefined  cd-padding   " id="DivemZ2" data-clientid="DivemZ2" data-displayname="footer" style="display: flex; margin: 0px auto; height: auto; width: 100%; max-width: 1980px; position: relative;">
    <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="DivnAw0" data-clientid="DivnAw0" data-displayname="container" style="display: flex; margin-top: 0px; margin-left: 0px; height: auto; width: 100%; max-width: 1200px; margin-bottom: 0px; position: relative;">
       <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="DivwUYl" data-clientid="DivwUYl" data-displayname="div" style="display: flex; margin-top: 0px; margin-left: 0px; height: auto; width: 100%; max-width: 400px; margin-bottom: 0px; position: relative;">
          <span id="Spannqcz" data-clientid="Spannqcz" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative;">
             <p>Codeylabs </p>
             <style id="style-section-DivwUYl-Spannqcz">[data-clientId="Spannqcz"]{font-family:Raleway;font-size:25px;font-weight:700;color:#000;letter-spacing:0px;line-height:35px;padding:0px 0px 0px 0px;opacity:100%;}</style>
          </span>
          <span id="SpanAkyg" data-clientid="SpanAkyg" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative; max-width: 275px;">
             <p>Codeylabs is committed to customer success, providing unparalleled support on your journey towards digital transformation. </p>
             <style id="style-section-DivwUYl-SpanAkyg">[data-clientId="SpanAkyg"]{font-family:Raleway;font-size:16px;font-weight:400;color:#000;letter-spacing:0px;line-height:26px;padding:0px 0px 0px 0px;opacity:100%;}</style>
          </span>
          <style id="style-section-DivnAw0-DivwUYl">[data-clientId="DivwUYl"]{padding:0px 0px 0px 0px;flex-direction:column;column-gap:0px;row-gap:0px;}</style>
       </div>
       <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="Div958E" data-clientid="Div958E" data-displayname="div" style="display: flex; margin-top: 0px; margin-left: 0px; height: auto; width: fit-content; max-width: 200px; margin-bottom: 0px; position: relative;">
          <span id="SpanLr2C" data-clientid="SpanLr2C" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative; max-width: 275px;">
             <p>Careers </p>
             <style id="style-section-Div958E-SpanLr2C">[data-clientId="SpanLr2C"]{font-family:Raleway;font-size:16px;font-weight:400;color:#000;letter-spacing:0px;line-height:26px;padding:0px 0px 0px 0px;opacity:100%;}</style>
          </span>
          <span id="SpandRUn" data-clientid="SpandRUn" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative; max-width: 275px;">
             <p>Partners </p>
             <style id="style-section-Div958E-SpandRUn">[data-clientId="SpandRUn"]{font-family:Raleway;font-size:16px;font-weight:400;color:#000;letter-spacing:0px;line-height:26px;padding:0px 0px 0px 0px;opacity:100%;}</style>
          </span>
          <span id="SpanwpZ9" data-clientid="SpanwpZ9" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative; max-width: 275px;">
             <p>Blog </p>
             <style id="style-section-Div958E-SpanwpZ9">[data-clientId="SpanwpZ9"]{font-family:Raleway;font-size:16px;font-weight:400;color:#000;letter-spacing:0px;line-height:26px;padding:0px 0px 0px 0px;opacity:100%;}</style>
          </span>
          <style id="style-section-DivnAw0-Div958E">[data-clientId="Div958E"]{padding:0px 0px 0px 0px;flex-direction:column;column-gap:0px;row-gap:20px;}</style>
       </div>
       <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="Divqoab" data-clientid="Divqoab" data-displayname="div" style="display: flex; margin-top: 0px; margin-left: 0px; height: auto; width: fit-content; max-width: 200px; margin-bottom: 0px; position: relative;">
          <span id="SpaniYjd" data-clientid="SpaniYjd" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative; max-width: 275px;">
             <p>Events </p>
             <style id="style-section-Divqoab-SpaniYjd">[data-clientId="SpaniYjd"]{font-family:Raleway;font-size:16px;font-weight:400;color:#000;letter-spacing:0px;line-height:26px;padding:0px 0px 0px 0px;opacity:100%;}</style>
          </span>
          <span id="SpanTuKA" data-clientid="SpanTuKA" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative; max-width: 275px;">
             <p>Community </p>
             <style id="style-section-Divqoab-SpanTuKA">[data-clientId="SpanTuKA"]{font-family:Raleway;font-size:16px;font-weight:400;color:#000;letter-spacing:0px;line-height:26px;padding:0px 0px 0px 0px;opacity:100%;}</style>
          </span>
          <span id="SpanggTZ" data-clientid="SpanggTZ" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative; max-width: 275px;">
             <p>Support </p>
             <style id="style-section-Divqoab-SpanggTZ">[data-clientId="SpanggTZ"]{font-family:Raleway;font-size:16px;font-weight:400;color:#000;letter-spacing:0px;line-height:26px;padding:0px 0px 0px 0px;opacity:100%;}</style>
          </span>
          <style id="style-section-DivnAw0-Divqoab">[data-clientId="Divqoab"]{padding:0px 0px 0px 0px;flex-direction:column;column-gap:0px;row-gap:20px;}</style>
       </div>
       <style id="style-section-DivemZ2-DivnAw0">[data-clientId="DivnAw0"]{padding:0px 0px 60px 0px;flex-direction:row;justify-content:space-between;align-items:stretch;column-gap:30px;row-gap:0px;border-width:0px 0px 1px 0px ;border-style:none none solid none ;border-color:transparent transparent #000000ff transparent ;}</style>
    </div>
    <span id="SpanklGI" data-clientid="SpanklGI" data-displayname="Text" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative;">
       <p>Codeylabs © 2024. All Rights Reserved. Privacy Policy. Terms of Service. </p>
       <style id="style-section-DivemZ2-SpanklGI">[data-clientId="SpanklGI"]{font-family:Raleway;font-size:16px;font-weight:400;color:#000;letter-spacing:0px;line-height:26px;padding:30px 0px 0px 0px;opacity:100%;}</style>
    </span>
    <style id="style-DivemZ2">[data-clientId="DivemZ2"]{padding:100px 16px 20px 16px;flex-direction:column;align-items:center;column-gap:0px;row-gap:0px;}</style>
 </div>