<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<link rel="stylesheet" href="/assets/css/reset.css">
<link rel="stylesheet" href="/assets/css/all.css">
<link href="/assets/css/cssfamily.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/reqStyles.css">
<!--link rel="stylesheet" href="/assets/css/cdHumbleScroll.css" media="all"-->
<!--link rel="stylesheet" href="/assets/css/pagePreview.css"-->
<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" data-react-helmet="true">

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
      <meta charset="utf-8" data-react-helmet="true">
      <meta name="author" content="Codey Labs" data-react-helmet="true">
      <base href="." target="_blank" data-react-helmet="true">
      <meta name="version" content="" data-react-helmet="true">
      <meta property="og:title" content="Codeylabs Salesforce Solutions | Home" data-react-helmet="true">
      <meta property="twitter:title" content="Codeylabs Salesforce Solutions | Home" data-react-helmet="true">
      <script type="text/javascript" id="custom-js" data-react-helmet="true">try { 
         //Add your JS here
         } 
         catch(err) { console.error(err)}
      </script>
      <!--style>:not(.content-editor) h1,
         :not(.content-editor) h2,
         :not(.content-editor) h3,
         :not(.content-editor) h4,
         :not(.content-editor) h5,
         :not(.content-editor) h6,
         :not(.content-editor) p {
         line-height: inherit;
         margin: 0.1rem 0;
         white-space:pre-wrap;
         tab-size:4;
         }
         :not(.content-editor) h1 a,
         :not(.content-editor) h1 a:active,
         :not(.content-editor) h2 a,
         :not(.content-editor) h2 a:active,
         :not(.content-editor) h3 a,
         :not(.content-editor) h3 a:active,
         :not(.content-editor) h4 a,
         :not(.content-editor) h4 a:active,
         :not(.content-editor) h5 a,
         :not(.content-editor) h5 a:active,
         :not(.content-editor) h6 a,
         :not(.content-editor) h6 a:active,
         :not(.content-editor) p a,
         :not(.content-editor) p a:active {
         color: inherit;
         font-weight: inherit;
         text-decoration: none;
         }
         :not(.content-editor) h1 a:hover,
         :not(.content-editor) h1 a:active:hover,
         :not(.content-editor) h2 a:hover,
         :not(.content-editor) h2 a:active:hover,
         :not(.content-editor) h3 a:hover,
         :not(.content-editor) h3 a:active:hover,
         :not(.content-editor) h4 a:hover,
         :not(.content-editor) h4 a:active:hover,
         :not(.content-editor) h5 a:hover,
         :not(.content-editor) h5 a:active:hover,
         :not(.content-editor) h6 a:hover,
         :not(.content-editor) h6 a:active:hover,
         :not(.content-editor) p a:hover,
         :not(.content-editor) p a:active:hover {
         color: inherit;
         text-decoration: underline;
         }
         :not(.content-editor) .cd-paragraph-clean :not(:first-child) {
         margin-top: 16px;
         }
         h1,
         h2,
         h3,
         h4,
         h5,
         h6,
         p {
         font-size: inherit;
         font-weight: inherit;
         }
         h1,
         h2,
         h3,
         h4,
         h5,
         h6,
         p {
         line-height: inherit;
         }
         h1 a,
         h1 a:active,
         h2 a,
         h2 a:active,
         h3 a,
         h3 a:active,
         h4 a,
         h4 a:active,
         h5 a,
         h5 a:active,
         h6 a,
         h6 a:active,
         p a,
         p a:active {
         color: inherit;
         text-decoration: none;
         }
         h1 a:hover,
         h1 a:active:hover,
         h2 a:hover,
         h2 a:active:hover,
         h3 a:hover,
         h3 a:active:hover,
         h4 a:hover,
         h4 a:active:hover,
         h5 a:hover,
         h5 a:active:hover,
         h6 a:hover,
         h6 a:active:hover,
         p a:hover,
         p a:active:hover {
         color: inherit;
         text-decoration: underline;
         }
         html{
            scroll-behavior: smooth !important;
         }
      </style-->
      <style>
        html,about,service,contact {
            scroll-behavior: smooth;
          }
        /*
         Note: For display flex to work, you have to add 
         .your-class-name{
         display:flex;
         }
         .your-class-name > div {
         position: static !important;
         }
         */
         /* place css code */

         /* On screens that are 840px wide or less, make the columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 840px) {
            [data-clientId="DivzHr7"],[data-clientId="DivBwJg"],[data-clientId="DivzgpE"],[data-clientId="SectionHmCD"]  {
                
                display: inline !important;
                
            }
            [data-clientId="Div6qx1"],[data-clientId="DivfuxI"] {
                margin-top: 30px !important;
                margin-left: auto !important;
                margin-right: auto !important;
            }
            [data-clientId="Section5rfl"] {
                margin-bottom: 30px !important;
                margin-left: auto !important;
                margin-right: auto !important;
            }
            [data-clientId="DivhSia"],[data-clientId="DivBwJg"],[data-clientId="DivBhnj"]{
                text-align: center;
                margin:auto !important;
            }

            [data-clientId="Divu2Dn"] #Input8BGu, [data-clientId="ButtonwpHh"],
            [data-clientId="SpanK1oD"],[data-clientId="Spans51S"],
            [data-clientId="DivjMGy"],[data-clientId="Spano2pb"],[data-clientId="SpanYBnl"],
            [data-clientId="SpantI2R"],[data-clientId="SpanPl4w"],[data-clientId="Sectiont7g4"]{
                margin:auto !important;
            }

            [data-clientId="DivHTiO"]{
                height:fit-content!important;
                width:100% !important;
            }
            [data-clientId="ButtonGFFs"],[data-clientId="DivMA6W"]{
                display: none !important;
            }
            .on [data-clientId="DivMA6W"]{
                display: flex !important;
                z-index: 1500 !important;
                height: fit-content !important;
                width: 100% !important;
                position: fixed !important;
                top: 0px !important;
                left: 0px !important;
                min-height: 100vh !important;
                bottom: 0px !important;
                padding: 40px 10px 10px 10px  !important;
                flex-direction: column !important;
                justify-content: flex-start !important;
                column-gap: 2px !important;
                row-gap: 0px !important;
                align-items: center !important;
                background-color: #FFF0BF !important;
                font-size: 0px !important;
            }
            .on [data-clientId="DivTUMI"]{
                display: flex !important;
                margin: 0px !important;
                position: relative !important;
                width: 100% !important;
                padding: 10px 10px 10px 10px !important;
                flex-direction: column !important;
                column-gap: 0px !important;
                row-gap: 0px !important;
                align-items: flex-end !important;
                font-size: 0px !important;
            }

            [data-clientId="DivTano"]{
                display: flex !important;
                height: 20px !important;
                width:30px !important;
                flex-direction: column  !important;
                justify-content: center !important;
                align-items: center !important;
                column-gap: 0px !important;
                row-gap: 0px !important;
            }

            [data-clientId="DivzHr7"] {
               padding: 20px 0px 0px 0px;
            }
        }
      </style>
<!-- end custom head snippets -->
