<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<link rel="stylesheet" href="/assets/css/reset.css">
<!--link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"-->
<link href="/assets/css/cssfamily.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/reqStyles.css">
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="shortcut icon" href="/assets/img/favicon.ico" type="image/x-icon" data-react-helmet="true">

<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
      <meta charset="utf-8" data-react-helmet="true">
      <meta name="author" content="Codey Labs" data-react-helmet="true">
      <base href="." target="_blank" data-react-helmet="true">
      <meta name="version" content="" data-react-helmet="true">
      <meta property="og:title" content="Codeylabs Salesforce Solutions | Home" data-react-helmet="true">
      <meta property="twitter:title" content="Codeylabs Salesforce Solutions | Home" data-react-helmet="true">
      <style>
        html,about,service,contact {
            scroll-behavior: smooth;
        }
        
         /* On screens that are 840px wide or less, make the columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 840px) {
            [data-clientId="DivzHr7"],[data-clientId="DivBwJg"],[data-clientId="DivzgpE"],[data-clientId="SectionHmCD"]  {
                
                display: inline !important;
                
            }
            [data-clientId="Div6qx1"],[data-clientId="DivfuxI"] {
                margin-top: 30px !important;
                margin-left: auto !important;
                margin-right: auto !important;
            }
            [data-clientId="Section5rfl"] {
                margin-bottom: 30px !important;
                margin-left: auto !important;
                margin-right: auto !important;
            }
            [data-clientId="DivhSia"],[data-clientId="DivBwJg"],[data-clientId="DivBhnj"]{
                text-align: center;
                margin:auto !important;
            }

            [data-clientId="Divu2Dn"] #Input8BGu, [data-clientId="ButtonwpHh"],
            [data-clientId="SpanK1oD"],[data-clientId="Spans51S"],
            [data-clientId="DivjMGy"],[data-clientId="Spano2pb"],[data-clientId="SpanYBnl"],
            [data-clientId="SpantI2R"],[data-clientId="SpanPl4w"],[data-clientId="Sectiont7g4"]{
                margin:auto !important;
            }

            [data-clientId="DivHTiO"]{
                height:fit-content!important;
                /**width:100% !important;**/
            }
            [data-clientId="ButtonGFFs"],[data-clientId="DivMA6W"]{
                display: none !important;
            }
            .on [data-clientId="DivMA6W"]{
                display: flex !important;
                z-index: 1500 !important;
                height: fit-content !important;
                width: 100% !important;
                position: fixed !important;
                top: 0px !important;
                left: 0px !important;
                min-height: 100vh !important;
                bottom: 0px !important;
                padding: 40px 10px 10px 10px  !important;
                flex-direction: column !important;
                justify-content: flex-start !important;
                column-gap: 2px !important;
                row-gap: 0px !important;
                align-items: center !important;
                background-color: #FFF0BF !important;
                font-size: 0px !important;
            }
            .on [data-clientId="DivTUMI"]{
                display: flex !important;
                margin: 0px !important;
                position: relative !important;
                width: 100% !important;
                padding: 10px 10px 10px 10px !important;
                flex-direction: column !important;
                column-gap: 0px !important;
                row-gap: 0px !important;
                align-items: flex-end !important;
                font-size: 0px !important;
            }

            [data-clientId="DivTano"]{
                display: flex !important;
                height: 20px !important;
                width:30px !important;
                flex-direction: column  !important;
                justify-content: center !important;
                align-items: center !important;
                column-gap: 0px !important;
                row-gap: 0px !important;
            }

            [data-clientId="DivzHr7"] {
               padding: 20px 0px 0px 0px;
            }
        }

        @media screen and (max-width: 375px) {
            [data-clientId="Span8Pmt"], [data-clientId="Span71ui"] {
                font-size:50px;
            }

            span.customer-logo{
                max-width: 125px!important;
            }

            [data-clientId="Spans51S"] {
                font-size:45px;
            }

            [data-clientId="DivtptK"], [data-clientId="Divjjm8"], [data-clientId="Divy9dW"]{
                padding:0px;
            }

        }

        @media screen and (max-width: 430px) {
            [data-clientId="Span8Pmt"], [data-clientId="Span71ui"] {
                font-size:50px;
            }

            span.customer-logo{
                max-width: 125px!important;
            }

            [data-clientId="Spans51S"] {
                font-size:45px;
            }

            [data-clientId="DivtptK"], [data-clientId="Divjjm8"], [data-clientId="Divy9dW"]{
                padding:0px;
            }

        }
      </style>
<!-- end custom head snippets -->
