<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<link rel="stylesheet" href="/assets/css/reset.css">
<!--link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"-->
<link href="/assets/css/cssfamily.css" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/reqStyles.css">
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="shortcut icon" href="/assets/img/codeylabs-square_official-logo.ico" type="image/x-icon" data-react-helmet="true">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Setup Google Analytics -->
{% include head-custom-google-analytics.html %}

<!-- You can set your favicon here -->
<!-- link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | relative_url }}" -->
      <meta charset="utf-8" data-react-helmet="true">
      <meta name="author" content="CodeyLabs" data-react-helmet="true">
      <base href="." target="_blank" data-react-helmet="true">
      <meta name="version" content="" data-react-helmet="true">
      
      
<!-- end custom head snippets -->
