<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>{{ page.title | default: site.title }}</title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YMWLVSY8JW"></script>
    <meta name="robots" content="index, follow" >
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta property="og:description" content="{{ page.ogdescription | default: site.ogdescription }}" >
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:title" content="{{ page.ogtitle | default: site.ogtitle }}">
    <meta property="og:site_name" content="CodeyLabs">
    <meta property="og:image" content="{{ page.ogimage | default: site.ogimage }}" >
    <meta property="og:url" content="https://www.codeylabs.com/{{ page.pagename | default: site.pagename }}">
    <meta property="twitter:title" content="{{ page.title | default: site.title }}" data-react-helmet="true">
    <meta charset="UTF-8">
    <meta name="author" content="Rahul Jain">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="{{ page.keywords | default: site.keywords }}" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/css/cssfamily.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/reqStyles.css">
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="shortcut icon" href="/assets/img/codeylabs-square_official-logo.ico" type="image/x-icon" data-react-helmet="true">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <!-- Setup Google Analytics -->
    {% include head-custom-google-analytics.html %}

  
    <!-- end custom head snippets -->

<script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-YMWLVSY8JW');
    </script>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script type="text/javascript" id="hs-script-loader" async defer src="//js-na1.hs-scripts.com/46583007.js"></script>
    <script>
            document.querySelectorAll('.faq-question').forEach(button => {
               button.addEventListener('click', () => {
                  const answer = button.nextElementSibling;
                  answer.style.display = answer.style.display === 'block' ? 'none' : 'block';
                  button.classList.toggle('active');
               });
            });
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="script/bootstrap.bundle.min.js"></script>
    
  </head>
  <body>   
      <section id="heroSection" class="rgl-container page-preview" style="position: relative;">
          <header>
              <div data-type="grid-layout" class="react-grid-item ltr undefined cd-padding" id="DivnQf4" data-clientid="DivnQf4" data-displayname="Hero Section with Header">
                <div data-type="grid-layout" class="react-grid-item ltr false cd-padding" id="DivsXAd" data-clientid="DivsXAd" data-displayname="Header ">
                  <span id="Span2zlj" data-clientid="Span2zlj" data-displayname="Brand" class="react-grid-item ltr false">
                    <a target="_self" href="index.html"><img class="" data-clientid="logo" id="logo" src="/assets/img/codeylabs_logo.svg"/></a>
                  </span>
                  <div data-type="grid-layout" class="react-grid-item ltr false cd-padding" id="DivHTiO" data-clientid="DivHTiO" data-displayname="Header Links Block">
                      <div data-type="grid-layout" class="react-grid-item ltr false cd-padding" id="DivMA6W" data-clientid="DivMA6W" data-displayname="Header Links">
                        <div data-type="grid-layout" class="react-grid-item ltr false cd-padding" id="DivTUMI" data-clientid="DivTUMI" data-displayname="close button">
                            <span onclick="document.getElementById('DivHTiO').classList.remove('on');" id="close_FILL0_wght400_GRAD0_opsz48GUOd" data-displayname="image" class="react-grid-item ltr false">
                              <img class="" data-clientid="close_FILL0_wght400_GRAD0_opsz48GUOd" id="close_FILL0_wght400_GRAD0_opsz48GUOd-id" src="/assets/img/close_fill0_wght400_grad0_opsz48svg_1699334576_27033.svg" alt="sl">
                            </span>
                        </div>
                        <span id="SpanpQZB" data-clientid="SpanpQZB" data-displayname="Header Link 1" class="react-grid-item ltr false">
                            <a rel="noreferrer" href="index.html" class="anchor-tag-reset cd-padding" target="_parent">
                              <p>Home</p>
                            </a>
                        </span>
                        <span id="SpanpQZB" data-clientid="SpanpQZB" data-displayname="Header Link 1" class="react-grid-item ltr false">
                          <a rel="noreferrer" href="ourproducts.html" class="anchor-tag-reset cd-padding" target="_parent">
                            <p>{{ site.ourproducts }}</p>
                          </a>
                        </span>
                        <span id="SpanNUvF" data-clientid="SpanNUvF" data-displayname="Header Link 2" class="react-grid-item ltr false">
                            <a rel="noreferrer" href="blogs.html" class="anchor-tag-reset cd-padding" target="_parent">
                              <p>Our Blogs</p>
                            </a>
                        </span>
                        <span id="SpandwWw" data-clientid="SpandwWw" data-displayname="Header Link 4" class="react-grid-item ltr false">
                            <a rel="noreferrer" href="https://codeylabs.my.site.com/demohub/s/" class="anchor-tag-reset cd-padding" target="_blank">
                              <p>Demo Hub</p>
                            </a>
                        </span>
                        <span id="SpanZKHO" data-clientid="SpanZKHO" data-displayname="Header Link 3" class="react-grid-item ltr false">
                            <a rel="noreferrer" href="aboutus.html" class="anchor-tag-reset cd-padding" target="_parent">
                              <p>About Us</p>
                            </a>
                        </span>
                      </div>
                  </div>
                  <button id="ButtonGFFs" data-clientid="ButtonGFFs" data-displayname="Header CTA Button" class="react-grid-item ltr false">
                      <a rel="noreferrer" href="index.html#contact" class="anchor-tag-reset cd-padding" target="_parent">
                        <p>Get in Touch</p>
                      </a>
                  </button>
                  <button id="DivTano" onclick="document.getElementById('DivHTiO').classList.add('on');" data-clientid="DivTano" data-displayname="Header Menu Icon" class="react-grid-item ltr false">
                  </button>
                </div>
                {% if page.url == "/" %}
                <div data-type="grid-layout" class="react-grid-item ltr false cd-padding" id="DivzHr7" data-clientid="DivzHr7" data-displayname="Hero Section">
                  <div data-type="grid-layout" class="react-grid-item ltr false cd-padding" id="DivhSia" data-clientid="DivhSia" data-displayname="Hero Section Left Block">
                      <span id="Span8Pmt" data-clientid="Span8Pmt" data-displayname="Heading" class="react-grid-item ltr false">
                        <p><span>Experience</span> the Codeylabs Advantage</p>
                      </span>
                      <span id="SpanRYbJ" data-clientid="SpanRYbJ" data-displayname="Paragraph" class="react-grid-item ltr false">
                        <p>We deliver cutting-edge Salesforce solutions to transform your business on <span>Salesforce's</span> Force.com platform, transcending conventional boundaries with transformative accelerators.</p>
                      </span>
                      <div data-type="grid-layout" class="react-grid-item ltr false cd-padding" id="Divu2Dn" data-clientid="Divu2Dn" data-displayname="Hero Section Input Block">
                        <form action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8&orgId=00DWd000000dMTi">
                          <input type=hidden name="oid" value="00DWd000000dMTi">
                          <input type=hidden name="retURL" value="https://www.codeylabs.com/thankyou.html">
              
                          <span id="Input8BGu" data-displayname="Input" class="react-grid-item ltr false">
                              <input id="email" maxlength="80" name="email" data-clientid="Input8BGu" type="email" placeholder="Enter your email" class="non-draggable" required value="">
                          </span>
                          <!--input type="hidden" id="external" name="external" value="1" /-->
                          <input id="last_name" maxlength="80" name="last_name" size="20" data-clientid="InputJTjk" type="hidden" placeholder=" " class="non-draggable" value="FollowUp">
                          <!--input type="hidden" id="name" maxlength="80" name="name" /-->
                          <textarea name="description" style="display:none;visibility:hidden;">Case Origin - From Enter Your Email and Learn More on Codeylabs site</textarea>
                          <br/>
                          <br/>
                          <button type="submit" id="ButtonwpHh" data-clientid="ButtonwpHh" data-displayname="Button" class="react-grid-item ltr false">
                              <p>Learn More</p>
                          </button>
                        </form>
                      </div>
                  </div>
                  <div data-type="grid-layout" class="react-grid-item ltr false cd-padding" id="Div6qx1" data-clientid="Div6qx1" data-displayname="Hero Section Right">
                      <span id="dugba-cauley-hushie-6MNmDi1hc_Y-unsplashMmlm" data-displayname="Hero Image" class="react-grid-item ltr false">
                        <img class="codeylabsofferingimage" data-clientid="dugba-cauley-hushie-6MNmDi1hc_Y-unsplashMmlm" id="dugba-cauley-hushie-6MNmDi1hc_Y-unsplashMmlm-id" src="/assets/img/CodeyLabsOffering.png" alt="sl">
                      </span>
                  </div>
                </div>
                {% endif %}
            </div>
          </header>

          {{ content }}

          <footer>
            {% include footer-custom.html %}
          </footer>
    </section>
    
  </body>
</html>