<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>   
      <section id="heroSection" class="rgl-container page-preview" style="position: relative;">
                      <header>
                              <div data-type="grid-layout" class="react-grid-item ltr  undefined  cd-padding   " id="DivnQf4" data-clientid="DivnQf4" data-displayname="Hero Section with Header" style="display: flex; margin: 0px auto; height: auto; width: 100%; max-width: 1980px; position: relative;">
                                <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="DivsXAd" data-clientid="DivsXAd" data-displayname="Header " style="display: flex; margin-top: 0px; margin-left: 0px; height: auto; width: 100%; max-width: 1200px; margin-bottom: 0px; position: relative;">
                                  <a href="https://www.codeylabs.com/">
                                  <span id="Span2zlj" data-clientid="Span2zlj" data-displayname="Brand" class="react-grid-item ltr  false   " style="display: block; width: fit-content; height: fit-content; margin: 0px; min-height: 224px; min-width: 16px; position: relative;">
                                    <img class="" style="height: 100%; width:100%;" data-clientid="logo" id="logo" src="/assets/img/logo_new.svg"/>
                                    
                                      
                                  </span>
                                  </a>
                                  <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding  " id="DivHTiO" data-clientid="DivHTiO" data-displayname="Header Links Block" style="display: flex; margin-top: 0px; margin-left: 0px; height: auto; width: fit-content; margin-bottom: 0px; position: relative;">
                                      <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="DivMA6W" data-clientid="DivMA6W" data-displayname="Header Links" style="display: flex; z-index: 1500; margin-top: 0px; margin-left: 0px; height: auto; width: fit-content; margin-bottom: 0px; position: relative;">
                                        <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="DivTUMI" data-clientid="DivTUMI" data-displayname="close button" style="display: none; margin-right: 0px; margin-bottom: 0px; position: relative;">
                                            <span onclick="document.getElementById('DivHTiO').classList.remove('on');" id="close_FILL0_wght400_GRAD0_opsz48GUOd" data-displayname="image" class="react-grid-item ltr  false   " style="display: block; width: 30px; height: 30px; position: relative; max-width: 600px; max-height: 600px; margin-right: 0px; margin-bottom: 0px;">
                                              <img class="" data-clientid="close_FILL0_wght400_GRAD0_opsz48GUOd" id="close_FILL0_wght400_GRAD0_opsz48GUOd-id" src="/assets/img/close_fill0_wght400_grad0_opsz48svg_1699334576_27033.svg" alt="sl" compprops="[object Object]" type="page" clientid="close_FILL0_wght400_GRAD0_opsz48GUOd" cssobj="[object Object]" cssstring="[object Object]" parent_id="DivTUMI" name="close_FILL0_wght400_GRAD0_opsz48" componentstyle="[object Object]">
                                              
                                            </span>
                                            
                                        </div>
                                        <span id="SpanpQZB" data-clientid="SpanpQZB" data-displayname="Header Link 1" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; min-height: 10px; min-width: 16px; position: relative; margin-right: 0px; margin-bottom: 0px;">
                                            <a rel="noreferrer" href="index.html" class="anchor-tag-reset cd-padding" target="_parent" style="text-decoration: none;">
                                              <p>Home </p>
                                              
                                            </a>
                                        </span>
                                        <span id="SpanNUvF" data-clientid="SpanNUvF" data-displayname="Header Link 2" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; min-height: 10px; min-width: 16px; position: relative; margin-right: 0px; margin-bottom: 0px;">
                                            <a rel="noreferrer" href="index.html#about" class="anchor-tag-reset cd-padding" target="_parent" style="text-decoration: none;">
                                              <p>Why Codeylabs </p>
                                              
                                            </a>
                                        </span>
                                        <span id="SpanZKHO" data-clientid="SpanZKHO" data-displayname="Header Link 3" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; min-height: 10px; min-width: 16px; position: relative; margin-right: 0px; margin-bottom: 0px;">
                                            <a rel="noreferrer" href="index.html#service" class="anchor-tag-reset cd-padding" target="_parent" style="text-decoration: none;">
                                              <p>Offerings </p>
                                              
                                            </a>
                                        </span>
                                        <span id="SpandwWw" data-clientid="SpandwWw" data-displayname="Header Link 4" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; min-height: 10px; min-width: 16px; position: relative; margin-right: 0px; margin-bottom: 0px;">
                                            <a rel="noreferrer" href="index.html#contact" class="anchor-tag-reset cd-padding" target="_parent" style="text-decoration: none;">
                                              <p>Contact </p>
                                              
                                            </a>
                                        </span>
                                        
                                      </div>
                                      
                                  </div>
                                  <button id="ButtonGFFs" data-clientid="ButtonGFFs" data-displayname="Header CTA Button" class="react-grid-item ltr  false   " style="display: block; margin: 0px; width: fit-content; height: fit-content; position: relative; min-height: 56px;">
                                      <a rel="noreferrer" href="index.html#contact" class="anchor-tag-reset cd-padding" target="_parent" style="text-decoration: none;">
                                        <p>Get in Touch </p>
                                        
                                      </a>
                                  </button>
                                  <button id="DivTano" onclick="document.getElementById('DivHTiO').classList.add('on');" data-clientid="DivTano" data-displayname="Header Menu Icon" class="react-grid-item ltr  false   " style="display: none; margin: 0px; height: 15px; width: 35px; position: relative;">
                                      
                                  </button>
                                  
                                </div>
                                {% if page.url == "/" %}
                                <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="DivzHr7" data-clientid="DivzHr7" data-displayname="Hero Section" style="display: flex; margin-top: 0px; margin-left: 0px; height: auto; width: 100%; max-width: 1200px; margin-bottom: 0px; position: relative;">
                                  <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="DivhSia" data-clientid="DivhSia" data-displayname="Hero Section Left Block" style="display: flex; margin-top: 0px; margin-left: 0px; height: auto; width: 100%; max-width: 575px; margin-bottom: 0px; position: relative;">
                                      <span id="Span8Pmt" data-clientid="Span8Pmt" data-displayname="Heading" class="react-grid-item ltr  false   " style="display: block; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative;">
                                        <p>Discover the Codeylabs Difference </p>
                                        
                                      </span>
                                      <span id="SpanRYbJ" data-clientid="SpanRYbJ" data-displayname="Paragraph" class="react-grid-item ltr  false   " style="display: block; z-index: 1; width: fit-content; height: fit-content; margin: 0px; min-height: 10px; min-width: 16px; position: relative;">
                                        <p>We are a pioneering brand offering software solutions on Salesforce's Force.com platform, transcending conventional boundaries with transformative accelerators. </p>
                                        
                                      </span>
                                      <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="Divu2Dn" data-clientid="Divu2Dn" data-displayname="Hero Section Input Block" style="display: flex; margin-top: 0px; margin-left: 0px; height: auto; width: 100%; margin-bottom: 0px; position: relative;">
                                        <span id="Input8BGu" data-displayname="Input" class="react-grid-item ltr  false   " style="display: block; z-index: 1; margin: 0px; width: fit-content; height: auto; position: relative; min-height: 56px; min-width: 350px;">
                                            <input data-clientid="Input8BGu" type="email" placeholder="Enter your email" class="non-draggable " required="" value="" style="height: 100%; width: 100%; min-height: inherit; min-width: inherit; max-height: inherit; max-width: inherit;">
                                            
                                        </span>
                                        <button id="ButtonwpHh" data-clientid="ButtonwpHh" data-displayname="Button" class="react-grid-item ltr  false   " style="display: block; z-index: 1; margin: 0px; width: fit-content; height: fit-content; position: relative; min-height: 56px;">
                                            <p>Learn More </p>
                                            
                                        </button>
                                        
                                      </div>
                                      
                                  </div>
                                  <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="Div6qx1" data-clientid="Div6qx1" data-displayname="Hero Section Right" style="display: flex; margin-top: 0px; margin-left: 0px; height: 600px; width: 100%; max-width: 575px; margin-bottom: 0px; position: relative;">
                                      <span id="dugba-cauley-hushie-6MNmDi1hc_Y-unsplashMmlm" data-displayname="Hero Image" class="react-grid-item ltr  false   " style="display: block; width: fit-content; height: 620px; margin: -20px 0px 0px; position: relative; max-width: 475px; min-height: 500px;">
                                        <img class="" data-clientid="dugba-cauley-hushie-6MNmDi1hc_Y-unsplashMmlm" id="dugba-cauley-hushie-6MNmDi1hc_Y-unsplashMmlm-id" src="/assets/img/1a.jpeg" alt="sl" compprops="[object Object]" type="page" clientid="dugba-cauley-hushie-6MNmDi1hc_Y-unsplashMmlm" cssobj="[object Object]" cssstring="[object Object]" parent_id="Div6qx1" name="dugba-cauley-hushie-6MNmDi1hc_Y-unsplash" componentstyle="[object Object]">
                                        
                                      </span>
                                      
                                  </div>
                                  
                                </div>
                                <!--div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="DivwRoZ" data-clientid="DivwRoZ" data-displayname="Supporting Brand Showcase" style="display: flex; margin: 0px auto; height: auto; width: 100%; max-width: 1980px; min-height: 180px; position: relative;">
                                  <div data-type="grid-layout" class="react-grid-item ltr  false  cd-padding   " id="SectionnHvF" data-clientid="SectionnHvF" data-displayname="Brand Logos Container" style="display: flex; height: fit-content; width: 100%; margin: 0px; min-height: 20px; min-width: 20px; max-width: 1200px; position: relative;">
                                      <span id="logoipsum-263LVSH" data-displayname="Supporting Brand 1" class="react-grid-item ltr  false   customer-logo" style="display: block; width: 100%; height: 40px; margin: 0px; position: relative; max-width: 150px;">
                                        <img class="" data-clientid="logoipsum-263LVSH" id="logoipsum-263LVSH-id" src="/assets/img/logoipsum-263svg_1688545982_96729.svg" alt="sl" compprops="[object Object]" type="page" clientid="logoipsum-263LVSH" cssobj="[object Object]" cssstring="[object Object]" parent_id="SectionnHvF" name="logoipsum-263" componentstyle="[object Object]">
                                        
                                      </span>
                                      <span id="logoipsum-263ajZK" data-displayname="Supporting Brand 2" class="react-grid-item ltr  false   customer-logo" style="display: block; width: 100%; height: 40px; margin: 0px; position: relative; max-width: 150px;">
                                        <img class="" data-clientid="logoipsum-263ajZK" id="logoipsum-263ajZK-id" src="/assets/img/logoipsum-239svg_1688545982_42707.svg" alt="sl" compprops="[object Object]" type="page" clientid="logoipsum-263ajZK" cssobj="[object Object]" cssstring="[object Object]" parent_id="SectionnHvF" name="logoipsum-263" componentstyle="[object Object]">
                                        
                                      </span>
                                      <span id="logoipsum-263pI2w" data-displayname="Supporting Brand 3" class="react-grid-item ltr  false   customer-logo" style="display: block; width: 100%; height: 40px; margin: 0px; position: relative; max-width: 150px;">
                                        <img class="" data-clientid="logoipsum-263pI2w" id="logoipsum-263pI2w-id" src="/assets/img/logoipsum-284svg_1688545982_46903.svg" alt="sl" compprops="[object Object]" type="page" clientid="logoipsum-263pI2w" cssobj="[object Object]" cssstring="[object Object]" parent_id="SectionnHvF" name="logoipsum-263" componentstyle="[object Object]">
                                        
                                      </span>
                                      <span id="logoipsum-263WuKX" data-displayname="Supporting Brand 4" class="react-grid-item ltr  false   customer-logo" style="display: block; width: 100%; height: 40px; margin: 0px; position: relative; max-width: 150px;">
                                        <img class="" data-clientid="logoipsum-263WuKX" id="logoipsum-263WuKX-id" src="/assets/img/logoipsum-218svg_1688545982_91340.svg" alt="sl" compprops="[object Object]" type="page" clientid="logoipsum-263WuKX" cssobj="[object Object]" cssstring="[object Object]" parent_id="SectionnHvF" name="logoipsum-263" componentstyle="[object Object]">
                                        
                                      </span>
                                      <span id="logoipsum-263g5jZ" data-displayname="image" class="react-grid-item ltr  false   customer-logo" style="display: block; width: 100%; height: 40px; margin: 0px; position: relative; max-width: 150px;">
                                        <img class="" data-clientid="logoipsum-263g5jZ" id="logoipsum-263g5jZ-id" src="/assets/img/logoipsum-263svg_1688545982_96729.svg" alt="sl" compprops="[object Object]" type="page" clientid="logoipsum-263g5jZ" cssobj="[object Object]" cssstring="[object Object]" parent_id="SectionnHvF" name="logoipsum-263" componentstyle="[object Object]">
                                        
                                      </span>
                                      <span id="logoipsum-263UUbG" data-displayname="image" class="react-grid-item ltr  false   customer-logo" style="display: block; width: 100%; height: 40px; margin: 0px; position: relative; max-width: 150px;">
                                        <img class="" data-clientid="logoipsum-263UUbG" id="logoipsum-263UUbG-id" src="/assets/img/logoipsum-288svg_1688545982_25516.svg" alt="sl" compprops="[object Object]" type="page" clientid="logoipsum-263UUbG" cssobj="[object Object]" cssstring="[object Object]" parent_id="SectionnHvF" name="logoipsum-263" componentstyle="[object Object]">
                                        
                                      </span>
                                      
                                  </div-->
                                  
                                </div>
                                {% endif %}
                               
                            </div>
                      </header>
                     

                      {{ content }}

                      
                      <footer>
                        {% include footer-custom.html %}
                      </footer>
    </section>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
